<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>

<% if !logged_in? %>
  <div class='row'>
	<div class='col-xs-12'>
	  <img class='img-responsive home-logo' src="http://www.cefctoday.com/wp-content/uploads/2016/08/Childrens-Ministry-Logo.jpg">
	  </div>
  </div>
<%end%>

<% if logged_in? %>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://media.oregonlive.com/themombeat/photo/11449196-large.jpg" alt="...">
        <div class="caption text-center">
          <h4>Featured Message</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://media.oregonlive.com/themombeat/photo/11449196-large.jpg" alt="...">
        <div class="caption text-center">
          <h4><%= link_to "Messages", messages_path %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://media.oregonlive.com/themombeat/photo/11449196-large.jpg" alt="...">
        <div class="caption text-center">
          <h4><%= link_to "Teachers", users_path %></h4>
        </div>
      </div>
    </div>
  </div>

<%end%>
