<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>

<% if !logged_in? %>
  <div class='row'>
	<div class='col-xs-12'>
	  <img class='img-responsive home-logo' src="http://www.cefctoday.com/wp-content/uploads/2016/08/Childrens-Ministry-Logo.jpg">
	  </div>
  </div>
<%end%>

<% if logged_in? %>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top img-responsive" src="http://media.oregonlive.com/themombeat/photo/11449196-large.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title text-center">Featured Message</h4>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top img-responsive" src="http://media.oregonlive.com/themombeat/photo/11449196-large.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title text-center">Messages</h4>
    </div>
  </div>
  
  <div class="card">
    <img class="card-img-top img-responsive" src="http://media.oregonlive.com/themombeat/photo/11449196-large.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title text-center">Teachers</h4>
    </div>
  </div>
</div>
<%end%>
