<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>
<%= render 'layouts/banner', user: @user %>

<% @activities.each do |activity| %>

<h4>Grade: <%=link_to "#{activity.grade}", activity_path(activity) %></h4>

<% end %>