<div class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Teacher Archives</a>
  </div>
  <div class="navbar-offcanvas offcanvas">
    <a class="navmenu-brand" href="/">Teacher Archives</a>
    <ul class="nav navbar-nav">
    <% if !logged_in? %>
      <li><a href="/login">Log In</a></li>
      <li><a href="/users/new">Sign Up</a></li>
    <% end %>
    <% if logged_in? %>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "All Messages", messages_path %></li>
      <li><a href="/logout">Log Out</a></li>
    <% end %>
    </ul>
  </div><!--/.nav-collapse -->
</div>